<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:sqlserver://localhost:1433;databaseName=ehcache_test;encrypt=true;trustServerCertificate=true
        </property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="connection.username">sa</property>
        <property name="connection.password">1234</property>
        <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="show_sql">true</property>
        <!--        <property name="format_sql">true</property>-->
        <property name="hbm2ddl.auto">validate</property>

        <property name="hibernate.cache.region.factory_class">jcache</property>
        <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>
        <property name="hibernate.javax.cache.uri">ehcache.xml</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
<!--        <property name="hibernate.generate_statistics">true</property>-->
        <!--        pool size-->

        <!--        <property name="hibernate.c3p0.min_size">5</property>-->

        <mapping class="test.hibernate.entities.Employee"/>


    </session-factory>
</hibernate-configuration>